/*button*/
$button-danger:#FE6363;
$buttonback-danger:#FE6363;
$button-success:#34c28d;
$white-color:#fff;
$button-next:#009EF7;
$font-color: #009EF7;
$button-save:#52B441;
$button-edit:#A7B8D6;
$button-remove:#FF5771;
$blue-color:#1F86EF;

.button{
    padding: 4px 30px ;
    border-radius: 5px;
    cursor: pointer;
    height: 35px;
    margin:  10px;


}
.button-icon{
    padding: 2px 6px;
    cursor: pointer;
    height: 24px;
    margin:  10px;
}
.text-danger{
    color: $button-danger;
}
.text-pri{
    color: $button-next;
}
.text-white{
    color: $white-color;
}
.button-danger{
    border: $button-danger;
    background-color: $buttonback-danger;
}
.button-next{
    background-color:$button-next;
    border: $button-next;
}
.button-save{
    background-color:$button-save ;
    border:$button-save;
}
.button-edit{
    background-color: $button-edit;
    border: $button-edit;
}
.button-remove{
    background-color: $button-remove;
    border: $button-remove;
}
.button-blue{
    background-color:$blue-color;
    border:$blue-color;
}
.font-size-18{
    font-size: 18px;
}
.font-size-15{
    font-size: 15px;
}
.pl-20px{
    padding-left: 20px;
}
.pl-5px{
    padding-left: 5px;
}
.pr-10px{
    padding-right: 10px;
}
.button-search{
    width: 150px;
    border-radius: 5px;
    height: 30px;
    background-color: $white-color;

}
.border-pri{
    border: 1px solid $button-next;
}
