.Navbar {
  background-color: #fff;
}

.Container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*Container*/
.Cont {
  width: 95%;
  background-color: #fff;
  margin: 5px auto;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.1) 0px 2px 5px -1px, rgba(0, 0, 0, 0.1) 0px 1px 3px -1px;
}

.Cont1 {
  width: 88%;
  background-color: #fff;
  margin: 10px auto;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.1) 0px 2px 5px -1px, rgba(0, 0, 0, 0.1) 0px 1px 3px -1px;
}

.font-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.side-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.form-select {
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  outline: none;
  scroll-behavior: smooth;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-select:focus {
  outline: none;
}

.form-select:after {
  border-top: 5px solid #4d4d4d;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 0;
}

.form-control {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.flex-grow {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-cont-space-evenly {
  justify-content: space-evenly;
}

.table {
  width: 100%;
}

.table thead {
  color: rgb(60, 174, 219);
}

.table tr td {
  text-align: center;
}

.text-align-center {
  text-align: center;
}

/* CSS */
.butn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.butn:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.butn:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.butn:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.butn:focus {
  outline: 1px transparent;
}

.butn:before {
  display: none;
}

.butn:-webkit-details-marker {
  display: none;
}

.inp-grp {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.table1 {
  margin: auto;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  border-color: #dee2e6;
}

.inpt-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.inpt-group > .form-control {
  /* position: relative; */
  /* -webkit-box-flex: 1; */
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.inpt-group-append {
  margin-left: -5px;
}

.inpt-group-text {
  display: flex;
  align-items: center;
  padding: 2px 5px;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.inpt {
  width: 80px;
  padding: 0.375rem 1rem 0.375rem 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.inpt:focus {
  outline: none;
}

.tag {
  display: inline-block;
  margin-top: 20px;
  margin-left: 4.4rem;
  padding: 8px 20px;
  background: #009EF7;
  color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

/*text-area*/
.text-area {
  width: 50%;
  height: 150px;
  border-radius: 10px;
  border: 1px solid #ced4da;
}

.text-area::-moz-placeholder {
  font-size: 15px;
  padding: 10px;
}

.text-area:-ms-input-placeholder {
  font-size: 15px;
  padding: 10px;
}

.text-area::placeholder {
  font-size: 15px;
  padding: 10px;
}

.border-radius-t-0 {
  border-top-left-radius: 0px !important;
}

.row {
  display: flex !important;
}

.App {
  margin: 20px;
}

.m-auto {
  margin: auto;
}

.m-20-auto {
  margin: 20px auto;
}

.block {
  display: block;
}

.col-12 {
  width: 100%;
}

.h-screen {
  height: 100vh;
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.col-span-3 {
  grid-column: span 3/span 3;
}

.col-span-9 {
  grid-column: span 9/span 9;
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

.items-center {
  align-items: center;
}

.min-width-110 {
  min-width: 110px;
}

.w-full {
  width: 100%;
}

/*columns*/
.col-3 {
  position: relative;
}

.col-9 {
  position: relative;
}

.col-1, .col-2, .col-4, .col-5, .col-6, .col-7, .col-8, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.inline-flexbox {
  display: inline-flexbox;
}

.grid {
  display: grid;
}

.text-blue {
  color: #009EF7;
}

/*text*/
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

/*centered*/
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.justify-cont-space-even {
  justify-content: space-between;
}

/*padding top .pt-15*/
.pt-1px {
  padding-top: 1px !important;
}

.pl-1px {
  padding-left: 1px;
}

.pr-1px {
  padding-right: 1px;
}

.pb-1px {
  padding-bottom: 1px;
}

.mt-1px {
  margin-top: 1px;
}

.ml-1px {
  margin-left: 1px;
}

.mr-1px {
  margin-right: 1px;
}

.mr-1px {
  margin-bottom: 1px;
}

.m-1px {
  margin: 1px;
}

.p-1px {
  padding: 1px;
}

.w-5px {
  width: 5px;
}

/*padding top .pt-15*/
.pt-2px {
  padding-top: 2px !important;
}

.pl-2px {
  padding-left: 2px;
}

.pr-2px {
  padding-right: 2px;
}

.pb-2px {
  padding-bottom: 2px;
}

.mt-2px {
  margin-top: 2px;
}

.ml-2px {
  margin-left: 2px;
}

.mr-2px {
  margin-right: 2px;
}

.mr-2px {
  margin-bottom: 2px;
}

.m-2px {
  margin: 2px;
}

.p-2px {
  padding: 2px;
}

.w-10px {
  width: 10px;
}

/*padding top .pt-15*/
.pt-3px {
  padding-top: 3px !important;
}

.pl-3px {
  padding-left: 3px;
}

.pr-3px {
  padding-right: 3px;
}

.pb-3px {
  padding-bottom: 3px;
}

.mt-3px {
  margin-top: 3px;
}

.ml-3px {
  margin-left: 3px;
}

.mr-3px {
  margin-right: 3px;
}

.mr-3px {
  margin-bottom: 3px;
}

.m-3px {
  margin: 3px;
}

.p-3px {
  padding: 3px;
}

.w-15px {
  width: 15px;
}

/*padding top .pt-15*/
.pt-4px {
  padding-top: 4px !important;
}

.pl-4px {
  padding-left: 4px;
}

.pr-4px {
  padding-right: 4px;
}

.pb-4px {
  padding-bottom: 4px;
}

.mt-4px {
  margin-top: 4px;
}

.ml-4px {
  margin-left: 4px;
}

.mr-4px {
  margin-right: 4px;
}

.mr-4px {
  margin-bottom: 4px;
}

.m-4px {
  margin: 4px;
}

.p-4px {
  padding: 4px;
}

.w-20px {
  width: 20px;
}

/*padding top .pt-15*/
.pt-5px {
  padding-top: 5px !important;
}

.pl-5px {
  padding-left: 5px;
}

.pr-5px {
  padding-right: 5px;
}

.pb-5px {
  padding-bottom: 5px;
}

.mt-5px {
  margin-top: 5px;
}

.ml-5px {
  margin-left: 5px;
}

.mr-5px {
  margin-right: 5px;
}

.mr-5px {
  margin-bottom: 5px;
}

.m-5px {
  margin: 5px;
}

.p-5px {
  padding: 5px;
}

.w-25px {
  width: 25px;
}

/*padding top .pt-15*/
.pt-6px {
  padding-top: 6px !important;
}

.pl-6px {
  padding-left: 6px;
}

.pr-6px {
  padding-right: 6px;
}

.pb-6px {
  padding-bottom: 6px;
}

.mt-6px {
  margin-top: 6px;
}

.ml-6px {
  margin-left: 6px;
}

.mr-6px {
  margin-right: 6px;
}

.mr-6px {
  margin-bottom: 6px;
}

.m-6px {
  margin: 6px;
}

.p-6px {
  padding: 6px;
}

.w-30px {
  width: 30px;
}

/*padding top .pt-15*/
.pt-7px {
  padding-top: 7px !important;
}

.pl-7px {
  padding-left: 7px;
}

.pr-7px {
  padding-right: 7px;
}

.pb-7px {
  padding-bottom: 7px;
}

.mt-7px {
  margin-top: 7px;
}

.ml-7px {
  margin-left: 7px;
}

.mr-7px {
  margin-right: 7px;
}

.mr-7px {
  margin-bottom: 7px;
}

.m-7px {
  margin: 7px;
}

.p-7px {
  padding: 7px;
}

.w-35px {
  width: 35px;
}

/*padding top .pt-15*/
.pt-8px {
  padding-top: 8px !important;
}

.pl-8px {
  padding-left: 8px;
}

.pr-8px {
  padding-right: 8px;
}

.pb-8px {
  padding-bottom: 8px;
}

.mt-8px {
  margin-top: 8px;
}

.ml-8px {
  margin-left: 8px;
}

.mr-8px {
  margin-right: 8px;
}

.mr-8px {
  margin-bottom: 8px;
}

.m-8px {
  margin: 8px;
}

.p-8px {
  padding: 8px;
}

.w-40px {
  width: 40px;
}

/*padding top .pt-15*/
.pt-9px {
  padding-top: 9px !important;
}

.pl-9px {
  padding-left: 9px;
}

.pr-9px {
  padding-right: 9px;
}

.pb-9px {
  padding-bottom: 9px;
}

.mt-9px {
  margin-top: 9px;
}

.ml-9px {
  margin-left: 9px;
}

.mr-9px {
  margin-right: 9px;
}

.mr-9px {
  margin-bottom: 9px;
}

.m-9px {
  margin: 9px;
}

.p-9px {
  padding: 9px;
}

.w-45px {
  width: 45px;
}

/*padding top .pt-15*/
.pt-10px {
  padding-top: 10px !important;
}

.pl-10px {
  padding-left: 10px;
}

.pr-10px {
  padding-right: 10px;
}

.pb-10px {
  padding-bottom: 10px;
}

.mt-10px {
  margin-top: 10px;
}

.ml-10px {
  margin-left: 10px;
}

.mr-10px {
  margin-right: 10px;
}

.mr-10px {
  margin-bottom: 10px;
}

.m-10px {
  margin: 10px;
}

.p-10px {
  padding: 10px;
}

.w-50px {
  width: 50px;
}

/*padding top .pt-15*/
.pt-11px {
  padding-top: 11px !important;
}

.pl-11px {
  padding-left: 11px;
}

.pr-11px {
  padding-right: 11px;
}

.pb-11px {
  padding-bottom: 11px;
}

.mt-11px {
  margin-top: 11px;
}

.ml-11px {
  margin-left: 11px;
}

.mr-11px {
  margin-right: 11px;
}

.mr-11px {
  margin-bottom: 11px;
}

.m-11px {
  margin: 11px;
}

.p-11px {
  padding: 11px;
}

.w-55px {
  width: 55px;
}

/*padding top .pt-15*/
.pt-12px {
  padding-top: 12px !important;
}

.pl-12px {
  padding-left: 12px;
}

.pr-12px {
  padding-right: 12px;
}

.pb-12px {
  padding-bottom: 12px;
}

.mt-12px {
  margin-top: 12px;
}

.ml-12px {
  margin-left: 12px;
}

.mr-12px {
  margin-right: 12px;
}

.mr-12px {
  margin-bottom: 12px;
}

.m-12px {
  margin: 12px;
}

.p-12px {
  padding: 12px;
}

.w-60px {
  width: 60px;
}

/*padding top .pt-15*/
.pt-13px {
  padding-top: 13px !important;
}

.pl-13px {
  padding-left: 13px;
}

.pr-13px {
  padding-right: 13px;
}

.pb-13px {
  padding-bottom: 13px;
}

.mt-13px {
  margin-top: 13px;
}

.ml-13px {
  margin-left: 13px;
}

.mr-13px {
  margin-right: 13px;
}

.mr-13px {
  margin-bottom: 13px;
}

.m-13px {
  margin: 13px;
}

.p-13px {
  padding: 13px;
}

.w-65px {
  width: 65px;
}

/*padding top .pt-15*/
.pt-14px {
  padding-top: 14px !important;
}

.pl-14px {
  padding-left: 14px;
}

.pr-14px {
  padding-right: 14px;
}

.pb-14px {
  padding-bottom: 14px;
}

.mt-14px {
  margin-top: 14px;
}

.ml-14px {
  margin-left: 14px;
}

.mr-14px {
  margin-right: 14px;
}

.mr-14px {
  margin-bottom: 14px;
}

.m-14px {
  margin: 14px;
}

.p-14px {
  padding: 14px;
}

.w-70px {
  width: 70px;
}

/*padding top .pt-15*/
.pt-15px {
  padding-top: 15px !important;
}

.pl-15px {
  padding-left: 15px;
}

.pr-15px {
  padding-right: 15px;
}

.pb-15px {
  padding-bottom: 15px;
}

.mt-15px {
  margin-top: 15px;
}

.ml-15px {
  margin-left: 15px;
}

.mr-15px {
  margin-right: 15px;
}

.mr-15px {
  margin-bottom: 15px;
}

.m-15px {
  margin: 15px;
}

.p-15px {
  padding: 15px;
}

.w-75px {
  width: 75px;
}

/*padding top .pt-15*/
.pt-16px {
  padding-top: 16px !important;
}

.pl-16px {
  padding-left: 16px;
}

.pr-16px {
  padding-right: 16px;
}

.pb-16px {
  padding-bottom: 16px;
}

.mt-16px {
  margin-top: 16px;
}

.ml-16px {
  margin-left: 16px;
}

.mr-16px {
  margin-right: 16px;
}

.mr-16px {
  margin-bottom: 16px;
}

.m-16px {
  margin: 16px;
}

.p-16px {
  padding: 16px;
}

.w-80px {
  width: 80px;
}

/*padding top .pt-15*/
.pt-17px {
  padding-top: 17px !important;
}

.pl-17px {
  padding-left: 17px;
}

.pr-17px {
  padding-right: 17px;
}

.pb-17px {
  padding-bottom: 17px;
}

.mt-17px {
  margin-top: 17px;
}

.ml-17px {
  margin-left: 17px;
}

.mr-17px {
  margin-right: 17px;
}

.mr-17px {
  margin-bottom: 17px;
}

.m-17px {
  margin: 17px;
}

.p-17px {
  padding: 17px;
}

.w-85px {
  width: 85px;
}

/*padding top .pt-15*/
.pt-18px {
  padding-top: 18px !important;
}

.pl-18px {
  padding-left: 18px;
}

.pr-18px {
  padding-right: 18px;
}

.pb-18px {
  padding-bottom: 18px;
}

.mt-18px {
  margin-top: 18px;
}

.ml-18px {
  margin-left: 18px;
}

.mr-18px {
  margin-right: 18px;
}

.mr-18px {
  margin-bottom: 18px;
}

.m-18px {
  margin: 18px;
}

.p-18px {
  padding: 18px;
}

.w-90px {
  width: 90px;
}

/*padding top .pt-15*/
.pt-19px {
  padding-top: 19px !important;
}

.pl-19px {
  padding-left: 19px;
}

.pr-19px {
  padding-right: 19px;
}

.pb-19px {
  padding-bottom: 19px;
}

.mt-19px {
  margin-top: 19px;
}

.ml-19px {
  margin-left: 19px;
}

.mr-19px {
  margin-right: 19px;
}

.mr-19px {
  margin-bottom: 19px;
}

.m-19px {
  margin: 19px;
}

.p-19px {
  padding: 19px;
}

.w-95px {
  width: 95px;
}

/*padding top .pt-15*/
.pt-20px {
  padding-top: 20px !important;
}

.pl-20px {
  padding-left: 20px;
}

.pr-20px {
  padding-right: 20px;
}

.pb-20px {
  padding-bottom: 20px;
}

.mt-20px {
  margin-top: 20px;
}

.ml-20px {
  margin-left: 20px;
}

.mr-20px {
  margin-right: 20px;
}

.mr-20px {
  margin-bottom: 20px;
}

.m-20px {
  margin: 20px;
}

.p-20px {
  padding: 20px;
}

.w-100px {
  width: 100px;
}

/*margin-padding*/
.pt-5px {
  padding-top: 5px;
}

.pr-5px {
  padding-right: 5px;
}

.pl-5px {
  padding-left: 5px;
}

.pt-5px {
  padding-bottom: 5px;
}

.mt-5px {
  margin-top: 5px;
}

.ml-5px {
  margin-left: 5px;
}

.mr-5px {
  margin-right: 5px;
}

.mb-5px {
  margin-bottom: 5px;
}

.m-5px {
  margin: 5px;
}

.p-5px {
  padding: 5px;
}

.pt-10px {
  padding-top: 10px;
}

.pr-10px {
  padding-right: 10px;
}

.pl-10px {
  padding-left: 10px;
}

.pt-10px {
  padding-bottom: 10px;
}

.mt-10px {
  margin-top: 10px;
}

.ml-10px {
  margin-left: 10px;
}

.mr-10px {
  margin-right: 10px;
}

.mb-10px {
  margin-bottom: 10px;
}

.m-10px {
  margin: 10px;
}

.p-10px {
  padding: 10px;
}

.pt-15px {
  padding-top: 15px;
}

.pr-15px {
  padding-right: 15px;
}

.pl-15px {
  padding-left: 15px;
}

.pt-15px {
  padding-bottom: 15px;
}

.mt-15px {
  margin-top: 15px;
}

.ml-15px {
  margin-left: 15px;
}

.mr-15px {
  margin-right: 15px;
}

.mb-15px {
  margin-bottom: 15px;
}

.m-15px {
  margin: 15px;
}

.p-15px {
  padding: 15px;
}

.pt-20px {
  padding-top: 20px;
}

.pr-20px {
  padding-right: 20px;
}

.pl-20px {
  padding-left: 20px;
}

.pt-20px {
  padding-bottom: 20px;
}

.mt-20px {
  margin-top: 20px;
}

.ml-20px {
  margin-left: 20px;
}

.mr-20px {
  margin-right: 20px;
}

.mb-20px {
  margin-bottom: 20px;
}

.m-20px {
  margin: 20px;
}

.p-20px {
  padding: 20px;
}

.pt-25px {
  padding-top: 25px;
}

.pr-25px {
  padding-right: 25px;
}

.pl-25px {
  padding-left: 25px;
}

.pt-25px {
  padding-bottom: 25px;
}

.mt-25px {
  margin-top: 25px;
}

.ml-25px {
  margin-left: 25px;
}

.mr-25px {
  margin-right: 25px;
}

.mb-25px {
  margin-bottom: 25px;
}

.m-25px {
  margin: 25px;
}

.p-25px {
  padding: 25px;
}

.pt-30px {
  padding-top: 30px;
}

.pr-30px {
  padding-right: 30px;
}

.pl-30px {
  padding-left: 30px;
}

.pt-30px {
  padding-bottom: 30px;
}

.mt-30px {
  margin-top: 30px;
}

.ml-30px {
  margin-left: 30px;
}

.mr-30px {
  margin-right: 30px;
}

.mb-30px {
  margin-bottom: 30px;
}

.m-30px {
  margin: 30px;
}

.p-30px {
  padding: 30px;
}

.pt-35px {
  padding-top: 35px;
}

.pr-35px {
  padding-right: 35px;
}

.pl-35px {
  padding-left: 35px;
}

.pt-35px {
  padding-bottom: 35px;
}

.mt-35px {
  margin-top: 35px;
}

.ml-35px {
  margin-left: 35px;
}

.mr-35px {
  margin-right: 35px;
}

.mb-35px {
  margin-bottom: 35px;
}

.m-35px {
  margin: 35px;
}

.p-35px {
  padding: 35px;
}

.pt-40px {
  padding-top: 40px;
}

.pr-40px {
  padding-right: 40px;
}

.pl-40px {
  padding-left: 40px;
}

.pt-40px {
  padding-bottom: 40px;
}

.mt-40px {
  margin-top: 40px;
}

.ml-40px {
  margin-left: 40px;
}

.mr-40px {
  margin-right: 40px;
}

.mb-40px {
  margin-bottom: 40px;
}

.m-40px {
  margin: 40px;
}

.p-40px {
  padding: 40px;
}

.pt-45px {
  padding-top: 45px;
}

.pr-45px {
  padding-right: 45px;
}

.pl-45px {
  padding-left: 45px;
}

.pt-45px {
  padding-bottom: 45px;
}

.mt-45px {
  margin-top: 45px;
}

.ml-45px {
  margin-left: 45px;
}

.mr-45px {
  margin-right: 45px;
}

.mb-45px {
  margin-bottom: 45px;
}

.m-45px {
  margin: 45px;
}

.p-45px {
  padding: 45px;
}

.pt-50px {
  padding-top: 50px;
}

.pr-50px {
  padding-right: 50px;
}

.pl-50px {
  padding-left: 50px;
}

.pt-50px {
  padding-bottom: 50px;
}

.mt-50px {
  margin-top: 50px;
}

.ml-50px {
  margin-left: 50px;
}

.mr-50px {
  margin-right: 50px;
}

.mb-50px {
  margin-bottom: 50px;
}

.m-50px {
  margin: 50px;
}

.p-50px {
  padding: 50px;
}

/* width percentage*/
.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

/* width-pixel*/
.t-1px {
  top: 1px;
}

.h-5px {
  height: 5px;
}

.t-2px {
  top: 2px;
}

.h-10px {
  height: 10px;
}

.t-3px {
  top: 3px;
}

.h-15px {
  height: 15px;
}

.t-4px {
  top: 4px;
}

.h-20px {
  height: 20px;
}

.t-5px {
  top: 5px;
}

.h-25px {
  height: 25px;
}

.t-6px {
  top: 6px;
}

.h-30px {
  height: 30px;
}

.t-7px {
  top: 7px;
}

.h-35px {
  height: 35px;
}

.t-8px {
  top: 8px;
}

.h-40px {
  height: 40px;
}

.t-9px {
  top: 9px;
}

.h-45px {
  height: 45px;
}

.t-10px {
  top: 10px;
}

.h-50px {
  height: 50px;
}

.mt-100px {
  margin-top: 100px;
}

/* md */
@media (min-width: 768px) {
  /*column-md*/
  .md\:col-span-2 {
    grid-column: span 2/span 2;
  }
  .md\:col-span-10 {
    grid-column: span 10/span 10;
  }
}/*# sourceMappingURL=style.css.map */