@import './Variables/variable.scss';


.Navbar{
    background-color: $whiteColor;
}

/*Container*/
.Container-table{
  width: 95%;
  background-color: #fff; 

  margin: 5px auto;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.10) 0px 2px 5px -1px, rgba(0, 0, 0, 0.10) 0px 1px 3px -1px;
  

}
.Container{
  width: 88%;
  background-color: #fff; 

  margin: 10px auto;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.10) 0px 2px 5px -1px, rgba(0, 0, 0, 0.10) 0px 1px 3px -1px;
  

}

.font-title{
    font-family: $titlefont;
    font-weight: $titlefont-weight;
}

.side-font{
    font-family: $titlefont;
    font-size: $sidefontsize;
    font-weight: $sidefont-weight;
}

.form-control {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.flex-grow{
  flex-grow: 1;
}
.flex-wrap{
  flex-wrap: wrap;
}
.justify-space-evenly{
  justify-content: space-evenly;
}


.table{
  width: 100%;
}
.table thead{
  color: $blueColor;
}


.table tr  td{
    text-align: center;

}
.text-align-center{
  text-align: center;
}

// .d-inline-block{
//     display: inline-block;
// }


/* CSS */
.buttn {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}


.butn:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.butn:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.butn:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.butn:focus {
  outline: 1px transparent;
}

.butn:before {
  display: none;
}

.butn:-webkit-details-marker {
  display: none;
}

.input-group{
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.form-select {

  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
   font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  outline: none;
  scroll-behavior: smooth;
  border:  1px solid #E5E4E4;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-select:focus{
outline: none;
}
.form-select option:focus{
border:0;
outline: none;
}
.form-select:after{
border-top: 5px solid #4d4d4d;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-bottom: 0;
}
.table1{
    margin: auto;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
}

.tag{
  display: inline-block;
  margin-top: 20px;
  margin-left: 4.4rem;
  padding: 8px 20px;
  background: #009EF7;
  color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}


.border-radius-t-0{
  border-top-left-radius: 0px !important;
}
.row{
  display: flex !important;
}
.App{
  margin: 20px;
}
.m-auto{
  margin:auto;
}
.m-20-auto{
  margin: 20px auto;
}
.block{
  display: block;
}


.col-12{
  width:100%;
}


// height

.h-screen{
  height: 100vh;
}


//grid
.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

//column
.col-span-3 {
  grid-column: span 3 / span 3;
}
.col-span-9 {
  grid-column: span 9 / span 9;
}


// background color

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}
//align items
.items-center {
  align-items: center;
}
.min-width-110{
  min-width: 110px
}

//width
.w-full {
  width: 100%;
}
/*columns*/


// .col-1, .col-2, .col-4, .col-5, .col-6, .col-7, .col-8, .col-10, .col-11, .col-12, .col,
// .col-auto, .col-small-1, .col-small-2, .col-small-3, .col-small-4, .col-small-5, .col-small-6, .col-small-7, .col-small-8, .col-small-9, .col-small-10, .col-small-11, .col-small-12, .col-small,
// .col-small-auto, .col-medium-1, .col-medium-2, .col-medium-3, .col-medium-4, .col-medium-5, .col-medium-6, .col-medium-7, .col-medium-8, .col-medium-9, .col-medium-10, .col-medium-11, .col-medium-12, .col-medium,
// .col-medium-auto, .col-large-1, .col-large-2, .col-large-3, .col-large-4, .col-large-5, .col-large-6, .col-large-7, .col-large-8, .col-large-9, .col-large-10, .col-large-11, .col-large-12, .col-large,
// .col-large-auto, .col-xlarge-1, .col-xlarge-2, .col-xlarge-3, .col-xlarge-4, .col-xlarge-5, .col-xlarge-6, .col-xlarge-7, .col-xlarge-8, .col-xlarge-9, .col-xlarge-10, .col-xlarge-11, .col-xlarge-12, .col-xlarge,
// .col-xlarge-auto {
//   position: relative;
//   width: 100%;
//   padding-right: 15px;
//   padding-left: 15px;
// }






//display
.flex {
  display: flex ;
}
.block {
  display: block ;
}
.inline {
  display: inline ;
}
.inline-block {
  display: inline-block ;
}
.inline-flex {
  display: inline-flex ;
}
.inline-flexbox {
  display: inline-flexbox ;
}
/* positions*/
.position-sticky{
  position: sticky;
}
.position-relative{
  position: relative;
}
.grid {
  display: grid;
}

.text-blue{
  color:$font-heading-color ;
}

//padding

//padding left


/*text*/
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
/*centered*/
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.justify-space-between{
  justify-content:space-between;
}

    @for $i from 1 through 50{
      /*padding top .pt-15*/
      .pt-#{ $i*1}px{
      padding-top:1px * $i !important;
      }
      .pl-#{1* $i}px{
        padding-left:1px * $i;
        }
        .pr-#{1 * $i}px{
          padding-right:1px * $i;
          }
          .pb-#{1 * $i}px{
            padding-bottom:1px * $i;
            }
      .mt-#{1 * $i}px{
        margin-top:1px * $i;
        }
        .ml-#{1 * $i}px{
          margin-left:1px * $i;
          }
          .mr-#{1 * $i}px{
            margin-right:1px * $i;
            }
            .mb-#{1 * $i}px{
              margin-bottom:1px * $i;
              }
              .m-#{1 * $i}px{
                margin:1px * $i;
                }
                .p-#{1 * $i}px{
                  padding:1px * $i;
                  }
                  .w-#{5 * $i}px{
                    width:5px * $i;
                    }
    }
    .mt-53px{
      margin-top: 53px;
    }
/* font-size*/
@for $i from 1 through 30{
   .font-size-#{1*$i}px{
    font-size: 1px * $i;
   }
}



    




/*margin-padding*/


    @for $i from 1 through 10{
      .pt-#{5 * $i}px{
        padding-top:5px * $i;
        }
        .pr-#{5 * $i}px{
          padding-right:5px * $i;
          }
          .pl-#{5 * $i}px{
            padding-left:5px * $i;
            }
            .pb-#{5 * $i}px{
              padding-bottom:5px * $i;
              }
              .mt-#{5 * $i}px{
                margin-top:5px * $i;
                }
                .ml-#{5 * $i}px{
                  margin-left:5px * $i;
                  }
                  .mr-#{5 * $i}px{
                    margin-right:5px * $i;
                    }
                    .mb-#{5 * $i}px{
                      margin-bottom:5px * $i;
                      }
                      .m-#{5 * $i}px{
                        margin:5px * $i;
                        }
                        .p-#{5 * $i}px{
                          padding:5px * $i;
                          }


    }
/* width percentage*/

  @for $i from 1 through 10{
    .w-#{10 * $i}{
      width:10% * $i;
      }
  }
  .w-92{
    width: 92%;
  }
  /* width-pixel*/
  @for $i from 1 through 20{
      .t-#{1*$i}px{
        top:1px *$i;
      }
      .h-#{5*$i}px{
        height: 5px *$i;

      }
      .border-radius-#{1*$i}px{
        border-radius: 1px *$i;

      }
  }
  .border-box{
    border: 1px solid #ced4da;
  }
  .border-dashed{
    border-bottom:1px dashed #ced4da;
  }
  
  
.mt-100px{
  margin-top: 100px;
}
/* md */
@media (min-width: 768px){

  /*column-md*/
.md\:col-span-2 {
    grid-column: span 2 / span 2;
}
.md\:col-span-10 {
  grid-column: span 10 / span 10;
}
}


/*mobile responsive*/
@media (min-width:1540px) and (max-width:1773px){
  .tag{
    margin-left:6rem;
  }
  .search{
    width: 450px;
  }
}
@media (min-width:1440px) and (max-width:1540px){
  .tag{
    margin-left:4.7rem;
  }
  .search{
    width: 450px;
  }
}
@media (min-width:1800px) {
  .tag{
    margin-left: 9.3rem;
  }
  .search{
    width: 450px;
  }
}
