.calender{
    height: 30px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding:0 6px;
}
.calender:focus{
    outline: none;
}

.w-90{
    width: 80%;
}
.w-100{
    width: 100%;
}
.search{
    width: 400px;
    height: 30px;
    padding: 0px 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
.search:focus{
    outline: none;
}


/*text-area*/
.text-area{
    width: 80%;
    min-width: 400px;
      height: 180px;
      padding:15px;
      border-radius: 10px;
      border: 1px solid #ced4da;
  }
  .text-area::placeholder{
    font-size: 15px;
    
  }
  .text-area:focus{
    outline: none;
  }

  /*input*/
  .input-grp {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
  }
  
  .input-group>.form-control {
    /* position: relative; */
    /* -webkit-box-flex: 1; */
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
  }
  .input-group-append {
    margin-left: -5px;
  }
  .input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2px 10px 2px 5px;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-left:-5px;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius:0rem 0.25rem  0.25rem 0rem ;
  }
  .inpt{
    width: 80px;
    padding: 0.375rem 1rem 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  .inpt:focus{
    outline: none;
  }
.h-22px{
  height: 22px;
}