.calender{
    height: 30px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding:0 6px;
}
.calender:focus{
    outline: none;
}

.w-90{
    width: 80%;
}
.w-100{
    width: 100%;
}
.search{
    width: 300px;
    height: 30px;
    padding: 0px 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
.search:focus{
    outline: none;
}
