$whiteColor:#fff;

//fonts

$titlefont:Arial, Helvetica, sans-serif;



//font-size
$titlefontsize:18px;
$sidefontsize:15px;

//font-family

$titlefont-weight:700;
$sidefont-weight:600;

//padding

$padding:10px;