
$whiteColor:#fff;
$blueColor:rgb(60, 174, 219);
$font-heading-color: #009EF7;

//fonts

$titlefont:Arial, Helvetica, sans-serif;



//font-size
$titlefontsize:18px;
$sidefontsize:15px;

//font-family

$titlefont-weight:700;
$sidefont-weight:600;

//padding

$padding:10px;


$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);
$col-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

