
*{
  margin:0;
  padding:0;
  text-decoration: none;
  font-family: "Poppins";
}

/* main{
  width: 100%;
  padding: 20px;
} */
.sidebar{
  background: #1D2E38;
  color: #fff;
  height: 120vh;

  width: 180px;
  transition: all 0.5s;
}
.Navbar{
  height: 40px;
  width: 100%;
  display: flex;
  border-bottom:  1px solid rgb(50 50 93 / 10%);
  

}
.Right{
  flex:33%;
  display: flex;
  align-items: center;
}
.Middle{
  flex:50%;
  display: flex;
  align-items: center;
}

.Left{
  flex:50%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.Right .Bars{
  font-size: 25px;
  visibility: hidden;
}

.user{
  font-size: 30px;
}
.bg{

  background-color: #F2F7FB ;
}



.top_section{
  
  display: flex;
  align-items:center;
  padding:0 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 12px 25px;
  gap: 12px;
  transition: all 0.5s;
}

.link_text{
  display: block;
}
.link:hover{
  background: hsl(203deg 100% 34% / 30%);

  opacity: 1;
  transition: all 0.5s;
}
.active{
    opacity: 1;
  background-color:hsl(203deg 100% 34% / 30%);
}
.icon, .link_text{
  font-size: 16px;
}
.col{
  margin-top:30px;
  margin-left: 40px;
}
mb{
  margin-bottom:10px
}
.addrule{
  display: block;
  margin:auto;
}
.h4{
    border-bottom: 1px solid lightgrey;
    padding-bottom: 5px;
}

.justify-center{
  justify-content: center;
}


.table.ml-15 tbody tr td {
  padding: 3px;
}
.m-10{
  margin: 10px;
}
@media (max-width:700px){
  .Navbar .Right .Bars{
    visibility:inherit;
  }
  .sidebar{
    margin-left: -200px;
  }
}



/*Modal styles*/
.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}
.scroll-y{
  scroll-behavior: smooth;
  overflow-y: scroll;
}