*{
  margin:0;
  padding:0;
  text-decoration: none;
}

/* main{
  width: 100%;
  padding: 20px;
} */
.sidebar{
  background: #293462;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}
.Navbar{
  height: 40px;
  width: 100%;
  display: flex;
  border-bottom:  1px solid grey;
  

}
.Right{
  flex:50%;
  display: flex;
  align-items: center;
}
.Middle{
  flex:50%;
  display: flex;
  align-items: center;
}

.Left{
  flex:50%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.Right .Bars{
  font-size: 25px;
  visibility: hidden;
}

.user{
  font-size: 30px;
}
.bg{

  background-color: rgba(203, 223, 240, 0.493);
}
.Dash{
  display: flex;
}
.Dash .cont{

  background-color: #fff; 
  box-shadow: 2px #000;
  padding: 10px;
  margin: 20px;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  

}
.Flex{
  display: flex;
}



.top_section{
  
  display: flex;
  align-items:center;
  padding:0 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link1{
  display: flex;
  color:black;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;

}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link1:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.link_text{
  display: block;
}
.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: lightskyblue;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
}
.col{
  margin-top:30px;
  margin-left: 40px;
}
mb{
  margin-bottom:10px
}
.addrule{
  display: block;
  margin:auto;
}
.h4{
    color: #62b6ea;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 5px;
}
.p-10{
  padding: 10px 10px 10px 0;
}
.just-content-center{
  justify-content: center;
}
.button{
  /* width: 80px; */
  height: 30px;
}
.app-button  {
  padding: 10px 30px;
  border: none;
  background-color: tomato;
  color: white;
  font-weight: bold;
  transition: all 0.4s;
}

.app-button:hover {
  background: brown;
}
.table.ml-15 tbody tr td {
  padding: 3px;
}
.m-10{
  margin: 10px;
}
@media (max-width:700px){
  .Navbar .Right .Bars{
    visibility:inherit;
  }
  .sidebar{
    margin-left: -200px;
  }
}

/*selected table*/
.fixTableHead {
	overflow-y: auto;
	height: 110px;
	}
	.fixTableHead thead th {
	/* position: sticky; */
	top: 0;
	}
	table {
	border-collapse: collapse;		
	width: 100%;
	}
	.fixTableHead th,
	.fixTableHead td {
	padding:18px;

	}
.fixTableHead thead{
  border-bottom:  1px solid rgba(50, 50, 93, 0.25);
  color: #62b6ea;
}
.fixTableHead tbody tr td{
 text-align: center;
}

/*common table*/

.commontable {
	overflow-y: auto;
	height: 110px;
	}
	.commontable thead th {
	/* position: sticky; */
	top: 0;
	}
	table {
	border-collapse: collapse;		
	width: 100%;
	}
	.commontable th,
  .commontable td {
	padding:18px;

	}
.commontable thead{
  border-bottom:  1px solid rgba(50, 50, 93, 0.25);
  color: #62b6ea;
}
.commontable tbody tr td{
 text-align: center;
}